.things li {
  display: inline;
}

.nav-link {
  font-size: 60px;
  background-color: lightgrey;
  color: white;
  margin-top: 10vh;
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 6PX;
}

#womens31 {
  height: 1050px;
  float: left;
  margin-left: 0px;
}

#womens1 {
  height: 1000px;
}

#womens2 {
  height: 1050px;
}

#womens4 {
  height: 1050px;
}

#womens13 {
  height: 1050px;
}

#womens141 {
  width: 500px;
  height: 1050px;
}

#womens15 {
  height: 850px;
}

#womens9 {
  height: 950px;
}

#womens10 {
  height: 950px;
}

#womens11 {
  height: 950px;
}

#womens12 {
  height: 950px;
}

#womens20 {
  height: 950px;
}

#womens21 {
  height: 950px;
}

.button {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #2E2E2E;
  padding-bottom: -10vh;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(121, 144, 226);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Just Another Hand';
  color: White;
  border: none;
  font-size: 60px;
}

/* Change the link color on hover */

li a:hover {
  background-color: rgb(236, 236, 244);
}

/*#womens1 {
  padding-top: -6vh;
  width: 20%;
  height: 63vh;
  float: right;
}

#womens2 {
  width: 19%;
  height: 63vh;
  float: right;
  padding-left: -40vh;
}

#womens3 {
  width: 22%;
  height: 63vh;
  ;
  float: right;
}

#womens4 {
  width: 19%;
  height: 63vh;
  ;
  float: right;
}

#womens5 {
  width: 20%;
  height: 63vh;
  margin-bottom: 0px;
  float: right;
}

.fa {
  font-family: 'Poiret One', cursive;
}

#womens6 {
  width: 20%;
  height: 61vh;
  margin-left: 110vh;
  margin-top: -62.8vh;
  float: left;
}

#womens7 {
  width: 20%;
  height: 61vh;
  ;
  margin-top: -68vh;
}

#womens8 {
  width: 20%;
  height: 61vh;
  ;
  margin-top: -69vh;
}

#womens9 {
  width: 21%;
  height: 61vh;
  ;
  margin-top: -68vh;
}

#womens10 {
  width: 20%;
  height: 61vh;
  ;
  margin-top: -62.8vh;
  float: right;
}*/

#womens6 {
  height: 850px;
  width: 750px;
  padding-left: 90px;
}

#womens3 {
  height: 950px;
  width: 750px;
}
