/* #mens, #womens, #children {
  height:63vh;
  margin-left: 40vh;
  margin-bottom: 10vh;
} */

#children{
margin-top: -20px;
}
.panel-transparent {
    background: none;
    border:0;

}

.panel-transparent .panel-heading{
    background: rgba(247, 247, 247, 0.73)!important;
    border:0;
    background-color: lightgrey;
}

.panel-transparent .panel-body{
    background: rgba(247, 247, 247, 0.73)!important;
    border: 0;
    /* background-color: white; */
}
.panel-body{
  text-align: left;
  font-size: 10vh;
  color: black;
  border:0;
  padding-bottom: -4vh;
  font-family: 'Poiret One', cursive;
  margin-left: 10vh;
  margin-right: 6vh;
}
section{

  padding-top: 1vh;
  padding-bottom: 30vh;
}

#logo {
  margin-left: 65vh;
  margin-bottom: 27vh;
  margin-top: 20vh;
  height:35vh;
  position:relative;


}

/* #logo2{
  width:10vh;
  height:10vh;
  margin-top: -2vh;
} */
/* header{
  margin-top: 5vh;
  border: none;
} */
.imgButton {
  background-image:url('../img/men4.jpg');
  width: 62vh;
  height:80vh;
  background-position:center;
  margin-left: 10vh;
  margin-right: 30vh;
  background-size: 88% 90%;
  background-repeat: no-repeat;
  font-size: 10em;
  color: black;
  padding-top:5vh;
  padding-right: 38vh;
  font-size: 3.6em;
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 6px;
  border:none;
}
.imgButton1 {
  background-image:url('../img/womenswear.jpg');
  width: 54vh;
  height:80vh;
  /* padding-left: 5vh; */
  margin-left: 24vh;
  margin-right: -10vh;
  background-position:center;
  background-size: 87% 90%;
  background-repeat: no-repeat;
  color: black;
  padding-top:5vh;
  font-size: 3.6em;
  padding-left: 25vh;
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 6px;
  border: none;
  /* margin-left: 30vw; */
}
.imgButton2 {
  background-image:url('../img/childrenswear.jpg');
  width: 54vh;
  height:80vh;

  margin-left: 30vh;
  background-position:center;
  background-size: 87% 90%;
  background-repeat: no-repeat;
  text-align: center;
  color: black;
  padding-top:5vh;
  font-size: 3.7em;
  padding-left: 30vh;
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 6px;
  border:none;


}


html {
    position: relative;
    min-height: 100%;
}

/* carousel images */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url('../img/carousel11-compressor.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url('../img/carousel12-compressor.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url('../img/carousel14-compressor.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item:nth-child(4) {
    background: url('../img/carousel15-compressor.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}

h1 {
  padding-bottom: 20vh;
  padding-top: 10vh;
  text-align: center;
}
#kids1{
  padding-top: -6vh;
  width:20%;
  height:63vh;
  float:right;
  padding-bottom: 10vh;


}
#kids2{
  width:19%;
  height:63vh;
  float:right;
  padding-left: -40vh;
  padding-bottom: 10vh;

}
#kids3{
  width:22%;
  height:63vh;;
  float:right;
  padding-bottom: 10vh;

}
#kids4{
  width:19%;
  height:63vh;;
  float:right;
  padding-bottom: 10vh;
}
#kids5{
  width:20%;
  height:63vh;;
  float:right;
  padding-bottom: 10vh;
}
.fa  {
  font-family: 'Poiret One', cursive;

}

#kids6{
  width:24%;
  height:57vh;
  margin-left: -5vh;
  margin-top: -68.5vh;

  /* float:left; */
}
#kids12{
  width:24%;
  height:57vh;
  margin-top: -68.1vh;
  margin-right: 20vh;
  margin-left: -6vh;
}
#kids8{
  width:20%;
  height:57vh;
  margin-top: -73.9vh;
  margin-left: 70vh;


}
#kids10{
  width:23%;
  height:57vh;
  margin-top: -74vh;
  margin-left:-0.5vh;

}
#kids11{
  width:20%;
  height:67vh;
  margin-top: -69.8vh;
  margin-left:155vh;
  margin-right: 1vh;
  padding-bottom: 10vh;
}

#kids13{
  width:22%;
  height:32.9em;
  margin-left: 104vh;
  padding-right: 0vh;
  margin-top: -64.4vh;
  padding-bottom: 10vh;
  padding-top: 1vh;
  /* float:left; */


}
#kids14{
  width:35%;
  height:32.5em;
  margin-top: -71.5vh;
  padding-right: -20vh;
  margin-left: 0vh;
  padding-bottom: 10vh;


}
/* #kids15{
  width:25%;
  height:61vh;;
  margin-top: -69vh;
} */

#kids17{
  width:20%;
  height:32.5em;
  margin-top: -72vh;
  margin-right: 30vh;
  margin-left: -0.55vh;
  padding-bottom: 10vh;
}

#kids18{
  width:22%;
  height:32em;
  margin-top: -68.8vh;
  margin-bottom: 20vh;
  float:right;
  margin-right: 1em;
  padding-bottom: 10vh;
  padding-top: -10vh;

}
.matching {
  padding-bottom: 10vh;
}

.nav-link{
  font-size: 2em;
  /* font-family: 'Poiret One', cursive; */
  font-family: 'Just Another Hand', cursive;
  background-color: lightgrey;
  color:white;
  letter-spacing: 6px;
}


h1{
  font-family: 'Poiret One', cursive;
  text-align: left;
  padding-left: 5vh;
  font-size: 20vh;
  padding-bottom: 2vh;
  padding-top: 3vh;
}
.navigation{

margin-bottom:-3vh;
border:none;

}

.navbar-default {
  background-color:#2E2E2E;
  background-image: none;
  background-repeat: no-repeat;
  font-family: 'Just Another Hand', cursive;
  color:white;
  border: none;
  font-size: 2em;

 }

 #kiddos{
   background-image: url('../img/background-kids.jpg');
   background-size: cover;

 }
