/* #mens, #womens, #children {
  height:63vh;
  margin-left: 40vh;
  margin-bottom: 10vh;
} */

#children{
margin-top: -20px;
}
.panel-transparent {
    background: none;
    border:0;

}

.panel-transparent .panel-heading{
    background: rgba(247, 247, 247, 0.73)!important;
    border:0;
    background-color: lightgrey;
}

.panel-transparent .panel-body{
    background: rgba(247, 247, 247, 0.73)!important;
    border: 0;
    /* background-color: white; */
}
.panel-body{
  text-align: left;
  font-size: 10vh;
  color: black;
  border:0;
  padding-bottom: -4vh;
  font-family: 'Poiret One', cursive;
  margin-left: 10vh;
  margin-right: 6vh;
}
section{

  padding-top: 1vh;
  padding-bottom: 30vh;
}

#logo {
  margin-left: 65vh;
  margin-bottom: 27vh;
  margin-top: 20vh;
  height:35vh;
  position:relative;


}

/* #logo2{
  width:10vh;
  height:10vh;
  margin-top: -2vh;
} */
/* header{
  margin-top: 5vh;
  border: none;
} */
.imgButton {
  background-image:url('../img/men4.jpg');
  width: 62vh;
  height:80vh;
  background-position:center;
  margin-left: 10vh;
  margin-right: 30vh;
  background-size: 88% 90%;
  background-repeat: no-repeat;
  font-size: 10em;
  color: black;
  padding-top:5vh;
  padding-right: 38vh;
  font-size: 3.6em;
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 6px;
  border:none;
}
.imgButton1 {
  background-image:url('../img/womenswear.jpg');
  width: 54vh;
  height:80vh;
  /* padding-left: 5vh; */
  margin-left: 24vh;
  margin-right: -10vh;
  background-position:center;
  background-size: 87% 90%;
  background-repeat: no-repeat;
  color: black;
  padding-top:5vh;
  font-size: 3.6em;
  padding-left: 25vh;
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 6px;
  border: none;
  /* margin-left: 30vw; */
}
.imgButton2 {
  background-image:url('../img/childrenswear.jpg');
  width: 54vh;
  height:80vh;

  margin-left: 30vh;
  background-position:center;
  background-size: 87% 90%;
  background-repeat: no-repeat;
  text-align: center;
  color: black;
  padding-top:5vh;
  font-size: 3.7em;
  padding-left: 30vh;
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 6px;
  border:none;


}


html {
    position: relative;
    min-height: 100%;
}

/* carousel images */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url('../img/carousel11-compressor.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url('../img/carouselA-compressor.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url('../img/carousel14-compressor.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item:nth-child(4) {
    background: url('../img/carousel15-compressor.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}

h1 {
  padding-bottom: 20vh;
  padding-top: 10vh;
  text-align: center;
}
#kids1{
  padding-top: -6vh;
  width:20%;
  height:63vh;
  float:right;
  padding-bottom: 10vh;
  margin-bottom: 20vh;
  margin-right: 2vw;



}
#kids2{
  width:19%;
  height:63vh;
  float:right;
  padding-left: -40vh;
  padding-bottom: 10vh;
  margin-bottom: 20vh;

}
#kids3{
  width:20%;
  height:63vh;;
  float:right;
  padding-bottom: 10vh;
  margin-bottom: 20vh;

}
#kids4{
  width:19%;
  height:63vh;;
  float:right;
  padding-bottom: 10vh;
  margin-bottom: 20vh;
}
#kids5{
  width:19%;
  height:63vh;;
  float:right;
  margin-bottom: 20vh;
  padding-bottom: 10vh;
  margin-left: -20em;
}
.fa  {
  font-family: 'Poiret One', cursive;

}

#kids6{
  width:20%;
  height:56vh;
  margin-left: 1vh;
  margin-top: -105.1vh;
  margin-bottom: 10vh;

  /* float:left; */
}
#kids12{
  width:20%;
  height:56vh;
  margin-top: -104.8vh;
  margin-right: 11vh;
  margin-left:-1vh;
  margin-bottom: 10vh;
}
#kids8{
  width:20%;
  height:57vh;
  margin-top: -104.3vh;
  margin-left: -6vw;
  /* margin-right: -2vw; */
  margin-bottom: 10vh;


}
#kids10{
  width:21%;
  height:57vh;
  margin-top: -105.4vh;
  /* margin-left:9vw; */
  margin-right: 13.9vw;
  margin-bottom: 10vh;

}
#kids11{
  width:20%;
  height:56.9vh;
  margin-top: -121.9vh;
  margin-left:78.5vw;
  margin-right: 2vh;
  /* padding-bottom: 10vh; */
}

#kids13{
  width:24%;
  height:27.9em;
  /* margin-right: 10em; */
  margin-top: -55.6em;
  margin-left: 79.1vw;
  /* padding-right: 0vh; */

  /* padding-bottom: 15vh; */
  /* padding-top: -10vh; */


  /* float:left; */


}
#kids14{
  width:35%;
  height:26.7em;
  margin-top: -57.4em;
  margin-right: 10vh;

  /* padding-bottom: 20vh; */

  /* padding-bottom: 10vh; */


}
/* #kids15{
  width:25%;
  height:61vh;;
  margin-top: -69vh;
} */

#kids17{
  width:20%;
  height:37.8em;
  margin-top: -50.9em;
  /* margin-right: 30vw; */
  margin-left: 39.6vw;
  padding-bottom: 20vh;

  /* padding-bottom: 10vh; */
}

#kids18{
  width:21%;
  height:55.2vh;
  margin-top: -48.2em;
  margin-bottom: 20vh;
  /* float:right; */
  margin-left: 18.5vw;
  /* margin-left: -3vw; */
  /* padding-bottom: 20vh; */
  /* padding-top: -10vh; */

}
.matching {
  padding-bottom: 20vh;
}

.nav-link{
  font-size: 2em;
  /* font-family: 'Poiret One', cursive; */
  font-family: 'Just Another Hand', cursive;
  background-color: lightgrey;
  color:black;
  letter-spacing: 6px;
}


h1{
  font-family: 'Poiret One', cursive;
  text-align: left;
  padding-left: 5vh;
  font-size: 20vh;
  padding-bottom: 2vh;
  padding-top: 3vh;
}
.navigation{

margin-bottom:-3vh;
border:none;

}

.navbar-default {
  background-color:#2E2E2E;
  background-image: none;
  background-repeat: no-repeat;
  font-family: 'Just Another Hand', cursive;
  color:black;
  border: none;
  font-size: 2em;

 }

 #kiddos{
   background-image: url('../img/background-kids.jpg');
   background-size: cover;


 }

 .container{
   background-color: white;
   margin-bottom: 1vh;
   height:110vh;
   width:100vw;
   margin-right: 10vw;
   opacity:0.9;

 }

 /* section{
   width:50%;
   height:80%;
 } */

 .img-fluid{
   height:130%;
   width:90%;
   padding:2%;
   text-align: center;
   margin: 5vw;

 }

 .card-body {
   /* padding:-9vh; */
   margin-top: -8vh;
 }
 #lorem{
   text-align: center;
   margin-left: 2vw;
   font-size: 120%;

 }
 #title{
   text-align: center;
   margin-left: -5vw;
   margin-top: 1vh;
   font-family: 'Just Another Hand', cursive;
   font-size: 350%;
 }
 #right{
   margin-right: 9vw;
   margin-left: 7vw;
   height:50vh;
   width:17vw;
   margin-top:3vh;
   margin-bottom: 6.5vh;
 }
 #middle{
   margin-left: 3vw;
   height:51vh;
   width:19vw;
   margin-top:3vh;
   margin-bottom: 7vh;
 }
 #left{
   margin-left:2vw;
   height:60vh;
   width:18vw;
   margin-top:-3vh;
   margin-bottom: 4vh;
 }

 .label{
   font-family: 'Just Another Hand', cursive;
   font-size: 5vh;
   color: black;
   letter-spacing: 2px;
 }

 form{
   width:122%;
   margin-left: -2vw;
   margin-bottom: 20vh;
   color:black;
   background-color: white;
   background-blend-mode: hard-light;
   padding:2em;
   border-radius: 5%;
   margin-top: 8vh;

 }
 button{
   margin-top: 2vh;
   color:white;
   background-color: darkgrey;
 }

 #subscribe{
   font-size: 10vh;
   font-family: 'Poiret One', cursive;
 }

 /* .grey-text{
   font-family: 'Poiret One', cursive;

 } */

 h2{
   padding-bottom: 20vh;
 }
 #details{
   margin-left: 25vw;
   width:50%;
   height:10vh;
   margin-bottom: 10vh;
   margin-top: -10vh;
   border-radius: 5%;
 }
 .h4{
   font-size: 6vh;
   font-family: 'Poiret One', cursive;
 }
 .font-weight-light{
   font-family: 'Just Another Hand', cursive;
   letter-spacing: 2px;
   font-size: 20px;
   padding-top: 2vh;
   color:darkgrey;
 }

 label{
   font-family: 'Just Another Hand', cursive;
   letter-spacing: 2px;
   font-size: 20px;
   padding-top: 2vh;
   color:darkgrey;
 }

 #radio{
   margin-right: 50%;
   float:right;
   margin-top: -90vh;
   text-align: center;
   margin-left: 80vw;
   font-size: 10px;
 }

 #newsletter{
   width:90%;
   /* margin-left: 2vw; */

 }

#question{
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 2px;
  font-size: 30px;
  padding-top: 2vh;
  color:darkgrey;
  text-align: left;
}
.form-inline{
  text-align: center;
  font-size: 50px;
}
